* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 90px;
	text-align: center;
	color: fuchsia;
}

h2 {
	color: black;
	text-align: center;
	font-size: 75px;
}

.navBar {
	text-align: center;
}